// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
	float: left;
	padding: 13px 40px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0 15px 35px rgba(50,50,93,.07), 0 5px 15px rgba(0,0,0,.05);
	transition: 200ms all ease-in-out;
	cursor: pointer;
	
	&:hover {
		transform: translateY(-1px);
		box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
	}

	&.primary {
		background-color: $primary;
		color: $secondary-50;
		&:hover {
			background-color: $primary-700;
		}
	}

	&.primary-white {
		background-color: #fff;
		color: $primary;
		&:hover {
			background-color: #f1f1f1;
			color: $primary-800;
		}
	}

	&.secondary {
		background-color: $secondary;
		color: $primary-50;
		&:hover {
			background-color: $primary-700;
		}
	}

	&.secondary-white {
		background-color: #fff;
		color: $secondary-900;
		&:hover {
			background-color: $primary-700;
		}
	}
}