// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.sekcija {
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 100px;
	h3, h4 {
		width: 100%;
		float: left;
		text-align: center;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 1;
	}

	h3 {
		font-size: 33px;
		color: $secondary-700;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 18px;
		color: $secondary-400;
		font-weight: 400;
	}

	&.prednost {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 200%;
			height: 600px;
			left: -150px;
			top: 200px;
			background-color: #F4F6FA;
			z-index: 0;
			-webkit-transform: rotate(-10deg);
			   -moz-transform: rotate(-10deg);
			    -ms-transform: rotate(-10deg);
			     -o-transform: rotate(-10deg);
			        transform: rotate(-10deg);
		}
		ul {
			width: 100%;
			float: left;
			padding: 0;
			margin: 90px 0 0;
			list-style: none;
			display: flex;
			z-index: 1;
			position: relative;
			li {
				flex-direction: row;
			   	background-color: #FFF;
			   	margin: 0;
				box-shadow: 0 20px 70px 0 rgba(#000, 0.07);
				padding: 30px 40px;
			   	&:nth-child(2) {
			   		margin: 0 60px;
			   	}

			   	h5 {
			   		margin: 0 0 15px;
			   		padding: 0;
			   		font-size: 24px;
			   		color: $secondary-700;
			   	}

			   	p {
			   		font-size: 14px;
			   		line-height: 1.7em;
			   		color: $secondary-600;
			   		margin: 0 0 25px;
			   		padding: 0;
			   	}

			   	a {
			   		font-size: 14px;
			   		color: $secondary-700;
			   		text-transform: uppercase;
			   		font-weight: bold;
			   		text-decoration: none;
			   		display: block;
			   		&:hover {
			   			color: $secondary-900;
			   		}

			   		img {
			   			width: 15px;
			   			margin-left: 5px;
			   			display: inline-block;
			   		}
			   	}
			}
		}
	}


	&.Testimonials-slider {
		position: relative;
		.testimonials-slider-container {
			width: 100%;
			float: left;
			position: relative;
			margin-top: 50px;
			.slide-controls {
				position: absolute;
				top: -40px;
				left: 0;
				width: 60px;
				.slide-control {
					float: left;
					width: 50%;
					text-align: center;
					font-size: 1.5em;
					cursor: pointer;
					color: $secondary-500;
					&:hover {
						color: $secondary-800;
					}
				}
			}
			.slider {
				position: relative;
				float: left;
				width: 100%;
				overflow-x: visible;
				.slick-list {
					overflow: visible;
					.slick-slide {
						padding: 0 0px;
						-ms-overflow-x: visible;
						    overflow-x: visible;
						opacity: 0.2;
						transition: 200ms all ease-in-out;
						&.slick-active {
							opacity: 1;
						}
						.slide {
							background: #FFF;
							outline-style: none;
							width: 100%;
							float: left;
							padding: 30px 0px;
							box-shadow: 0 20px 70px 0 rgba(#000, 0.07);
							.avatar {
								width: 65px;
								height: 65px;
								position: relative;
								margin: 0 auto;
								img {
									width: 100%;
									float: left;
								}
								.quote {
									width: 25px;
									height: 25px;
									position: absolute;
									background-color: #3BD3F4;
									bottom: 0;
									right: 0;
									-webkit-border-radius: 100%;
									        border-radius: 100%;
									img {
										width: 10px;
										height: 8px;
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%);
									}
								}
							}

							.human {
								width: 100%;
								float: left;
								text-align: center;
								margin: 20px 0;
								h4 {
									font-size: 22px;
									font-weight: bold;
									margin: 0 0 5px;
									padding: 0;
									color: #3BD3F4;
								}
								h5 {
									font-weight: normal;
									font-size: 12px;
									color: $secondary-300;
									margin: 0;
								}
							}

							.devider {
								width: 100%;
								float: left;
								position: relative;
								margin: 20px 0;
								&:after {
									content: "";
									position: absolute;
									top: 0;
									left: 50%;
									width: 30px;
									height: 2px;
									background-color: rgba(#000, 0.1);
									transform: translateX(-50%);
								}							
							}

							.content {
								width: 100%;
								float: left;
								text-align: center;
								p {
									margin: 0;
									padding: 0;
									font-size: 16px;
									color: $secondary-600;
									line-height: 1.7em;
								}
							}
						}
					}
				}
			}
		}
	}


}