// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.sekcija {
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 100px;
	h3, h4 {
		width: 100%;
		float: left;
		text-align: center;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 1;
	}

	h3 {
		font-size: 33px;
		color: $secondary-700;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 18px;
		color: $secondary-400;
		font-weight: 400;
	}

	&.prednost {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 150%;
			height: 600px;
			left: 0;
			top: 250px;
			background-color: #F4F6FA;
			z-index: 0;
			-webkit-transform: rotate(-10deg);
			   -moz-transform: rotate(-10deg);
			    -ms-transform: rotate(-10deg);
			     -o-transform: rotate(-10deg);
			        transform: rotate(-10deg);
		}
		ul {
			width: 100%;
			float: left;
			padding: 0;
			margin: 90px 0 0;
			list-style: none;
			display: flex;
			z-index: 1;
			position: relative;
			li {
				flex-direction: row;
			   	background-color: #FFF;
			   	margin: 0;
				box-shadow: 0 20px 70px 0 rgba(#000, 0.07);
				padding: 30px 40px;
			   	&:nth-child(2) {
			   		margin: 0 60px;
			   	}

			   	h5 {
			   		margin: 0 0 15px;
			   		padding: 0;
			   		font-size: 24px;
			   		color: $secondary-700;
			   	}

			   	p {
			   		font-size: 14px;
			   		line-height: 1.7em;
			   		color: $secondary-600;
			   		margin: 0 0 25px;
			   		padding: 0;
			   	}

			   	a {
			   		font-size: 14px;
			   		color: $secondary-700;
			   		text-transform: uppercase;
			   		font-weight: bold;
			   		text-decoration: none;
			   		display: block;
			   		&:hover {
			   			color: $secondary-900;
			   		}

			   		img {
			   			width: 15px;
			   			margin-left: 5px;
			   			display: inline-block;
			   		}
			   	}
			}
		}
	}


}